.count-container {
	padding: 1em;
}
.count-item {
	width: 50%;
}
.count-item > span {
	color: #37474f;
    font-size: 13px;
}
.count-item > div {
	display: grid;
	grid-column-gap: 5px;
	grid-row-gap: 2px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.count-item .number {
	grid-column: 1;
	grid-row: 1/3;
	height: 100%;
	width: 2em;
    line-height: 2em;
	border: 1px solid #ddd;
}
.count-item button {
	grid-column: 2;
	line-height: 1em;
	cursor: pointer;
}
.count-add button {
	margin-top: 5px;
  	padding: 0 10px;
}
